workflow/serverless.yml
service: workflow-ia
frameworkVersion: "4"

plugins:
  - serverless-python-requirements

provider:
  name: aws
  runtime: python3.14
  stage: ${opt:stage, "dev"}
  region: ${opt:region, "us-east-1"}
  architecture: x86_64
  iam:
    role: arn:aws:iam::${aws:accountId}:role/LabRole
  environment:
    GROQ_API_KEY: ${env:GROQ_API_KEY, ""}
    SENDGRID_API_KEY: ${env:SENDGRID_API_KEY, ""}
    SENDGRID_FROM_EMAIL: ${env:SENDGRID_FROM_EMAIL, "workflow@example.com"}
    JWT_SECRET: ${env:JWT_SECRET, "secret123"}
    USERS_TABLE_NAME:
      Ref: UsersTable
    RESULTS_TABLE_NAME:
      Ref: WorkflowResultsTable
    S3_BUCKET_NAME: workflow-ia-files-${aws:accountId}-${sls:stage}
    S3_TENANTS_PATH: ${env:S3_TENANTS_PATH, "s3://iafg-cdia-cloud-computing/final-project-workflow/tenants/"}
    S3_INSTRUCTIONS_PATH: ${env:S3_INSTRUCTIONS_PATH, "s3://iafg-cdia-cloud-computing/final-project-workflow/agente-seleccionador-inquilinos.md"}
  httpApi:
    cors: true
    payload: "2.0"

functions:
  registerUser:
    handler: auth.register
    events:
      - httpApi:
          method: POST
          path: /register
  loginUser:
    handler: auth.login
    events:
      - httpApi:
          method: POST
          path: /login
  listResults:
    handler: api.list_results
    events:
      - httpApi:
          method: GET
          path: /results

  startWorkflow:
    handler: api.start_workflow
    timeout: 28
    environment:
      WORKFLOW_STATE_MACHINE_ARN:
        Ref: WorkflowStateMachine
    events:
      - httpApi:
          method: POST
          path: /workflow

  evaluateFile:
    handler: step_functions.evaluate_file
    timeout: 30
    memorySize: 512

  saveResult:
    handler: step_functions.save_result
    timeout: 10

  generateReport:
    handler: step_functions.generate_report
    timeout: 30
    memorySize: 512

  sendEmail:
    handler: step_functions.send_email
    timeout: 30

resources:
  Resources:
    UsersTable:
      Type: AWS::DynamoDB::Table
      Properties:
        TableName: ${self:service}-users-${sls:stage}
        BillingMode: PAY_PER_REQUEST
        AttributeDefinitions:
          - AttributeName: email
            AttributeType: S
        KeySchema:
          - AttributeName: email
            KeyType: HASH

    WorkflowResultsTable:
      Type: AWS::DynamoDB::Table
      Properties:
        TableName: ${self:service}-resultados-${sls:stage}
        BillingMode: PAY_PER_REQUEST
        AttributeDefinitions:
          - AttributeName: userId
            AttributeType: S
          - AttributeName: createdAt
            AttributeType: S
        KeySchema:
          - AttributeName: userId
            KeyType: HASH
          - AttributeName: createdAt
            KeyType: RANGE

    WorkflowStateMachine:
      Type: AWS::StepFunctions::StateMachine
      Properties:
        StateMachineName: ${self:service}-${sls:stage}
        RoleArn: arn:aws:iam::${aws:accountId}:role/LabRole
        DefinitionString:
          Fn::Sub:
            - |
              {
                "Comment": "Workflow IA serverless",
                "StartAt": "EvaluateFile",
                "States": {
                  "EvaluateFile": {
                    "Type": "Task",
                    "Resource": "arn:aws:states:::lambda:invoke",
                    "OutputPath": "$.Payload",
                    "Parameters": {
                      "FunctionName": "${EvaluateFileLambdaArn}",
                      "Payload.$": "$"
                    },
                    "Next": "SaveResult"
                  },
                  "SaveResult": {
                    "Type": "Task",
                    "Resource": "arn:aws:states:::lambda:invoke",
                    "OutputPath": "$.Payload",
                    "Parameters": {
                      "FunctionName": "${SaveResultLambdaArn}",
                      "Payload.$": "$"
                    },
                    "Next": "GenerateReport"
                  },
                  "GenerateReport": {
                    "Type": "Task",
                    "Resource": "arn:aws:states:::lambda:invoke",
                    "OutputPath": "$.Payload",
                    "Parameters": {
                      "FunctionName": "${GenerateReportLambdaArn}",
                      "Payload.$": "$"
                    },
                    "Next": "SendEmail"
                  },
                  "SendEmail": {
                    "Type": "Task",
                    "Resource": "arn:aws:states:::lambda:invoke",
                    "OutputPath": "$.Payload",
                    "Parameters": {
                      "FunctionName": "${SendEmailLambdaArn}",
                      "Payload.$": "$"
                    },
                    "End": true
                  }
                }
              }
            - EvaluateFileLambdaArn:
                Fn::GetAtt: [EvaluateFileLambdaFunction, Arn]
              SaveResultLambdaArn:
                Fn::GetAtt: [SaveResultLambdaFunction, Arn]
              GenerateReportLambdaArn:
                Fn::GetAtt: [GenerateReportLambdaFunction, Arn]
              SendEmailLambdaArn:
                Fn::GetAtt: [SendEmailLambdaFunction, Arn]
